
.color-1{
background-color:#5668B0;
border-color:#5668B0; 
}
.color-2{
background-color:#6F67AE; 
border-color:#6F67AE;
}
.color-3{
background-color:#80808E; 
border-color:#80808E;
}
.color-4{
background-color:#BBA7BC; 
border-color:BBA7BC;
}
.color-5{
background-color:#A7B3D0; 
border-color:#A7B3D0;
}
.color-6{
background-color:#83A4B7; 
border-color:#83A4B7;
}
.color-7{
background-color:#578D96; 
border-color:#578D96;
}
.color-8{
background-color:#5E8751; 
border-color:#5E8751;
}
.color-9{
background-color:#67B2D6; 
border-color:#67B2D6;
}
.color-10{
background-color:#DE85B7; 
border-color:#DE85B7;
}
.color-11{
background-color:#AB5086; 
border-color:#AB5086;
}
.color-12{
background-color:#777777; 
border-color:#777777;
}

#edit-field-color-0-value-wrapper{
display:none;
}

#color-picker-picked{
width:100px;
height:100px;
float:right;
}

.schedule-manager-color-pick{
float:left;
width:25px;
height:25px;
overflow:hidden;
}
#schedule_manager-color_picker{
width:78px;
background-color:#ffffff;
height:100px;
overflow:hidden;
float:left;
}
#color-picker-wrapper{
width:181px;
padding:6px;
background-color:#ffffff;
padding-bottom:0px;
height:106px;
overflow:hidden;
border:1px solid #cccccc;
}