
#dateset_dialog a{
color: #8FBED2;
font-weight: bold;
}
#dateset_dialog a:hover{
    color: #1B2F86;
}
#schedule_manager_description p{
	padding-bottom:5px;
}
#schedule_manager-ol-inst{
	list-style-position:inside;
	padding-bottom:10px;
}

#schedule-manager-dates-wrapper{
padding-bottom:10px;
}

#events-list-container .ui-icon,
#datesets-dropzone-container .dateset-event-instance-movable .ui-icon{
display:block;
background-image:url("images/ui-icons_ffffff_256x240.png");
cursor:pointer;
}

#datesets-dropzone-container .ui-icon-close{
	cursor:pointer;
}

#dropzone-types .ui-state-default .ui-icon-close{
	position:relative;
	top:4px;
}

#dropzone-types .eidb-location_and_instructor-wrapper label,
#dropzone-types .eidb-location_and_instructor-wrapper .field-label{
color:#354289;
font-size:1em;
text-transform:lowercase;
font-weight:bold;
}

/** 
 * Events container display
 */
#events-source-container{
float:left;
width:160px;
}
#events-c-title{
width:160px;
}
#events-container{
width:160px;
text-align:left;
padding-bottom:25px;
}
#go-back-and-preview-container-spacing{
text-align:center;
padding:20px 0px;	
}
#go-back-and-preview-container{
border:1px solid #CCCCCC;
background-color:#ffffff;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:10px;
}

#events-list-container{
border:1px solid #CCCCCC;
background-color:#ffffff;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-radius:0px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
border-bottom:0;
padding:5px;
overflow:auto;
}
#events-list-add-new{
	text-align:center;
	background-color:#ffffff;
	padding:5px 0px;
	border:1px solid #CCCCCC;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	border-top-radius:0px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}

#events-container .event-instance{
width:140px;
padding:9px 0px 9px 5px;
}

#events-container .oncalendar-contents, #events-container .helper-contents{
display:none;
}

#events-schedule-dragndrop-container span.ui-state-icon-hover{
background-color:#B0D0DE;
border-color:#354289;
}

.event-instance h2, .schedule-helper-container h2{
color:#ffffff;
width:90px;
padding:0px;
padding-left:5px;
font-size:11px;
line-height:13px;
}

.event-instance, .schedule-helper-container{
width:57px;
margin:0 auto;
margin-bottom:3px;
padding-bottom:2px;
border-width:0px;
border-style:solid;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:0px;
}

#events-container, .schedule-helper-container{
	z-index:100;
}
.event-instance-icon{
position:relative;
width:16px;
height:16px;
padding-right:5px;
float:right;
}
#events-container .event-instance-icon span{
position:absolute;
left:0px;
top:-2px;
}





/**
 * slider
 */
 
 
.scroll-pane  .date-dropzone-container{
height:280px;
width:205px;
float:left;
}

.date-dropzone-week-container{
width:505px;
float:right;
height:400px;
}

.scroll-pane .event-placed{
position:relative;
height:18px;
width:199px;
padding-top:2px;
}
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-pane .date-dropzone-week { width: 1500px; float: left; }
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }










/**
 * dateset form
 */
.schedule_manager-time_fields .form-item{
	display:inline;
}

.schedule_manager-time_fields-label{
	font-weight:bold;
	display:block;
	float:left;
	width:145px;
}
.schedule_manager-time_fields{
	padding-bottom:10px;
}






/**
 * pattern view
 */
#weekly-patterns-accordion-container{
}

#currently-editing-weekly-pattern{
	display:none;
	border-bottom:2px solid #ECECEC;
	border-top:1px solid #ECECEC;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom:20px;
	
}
#weekly-pattern-title-container{
	padding-bottom:20px;
}


#schedule-patterns-existing-weekly-patterns{
	width:100%;
}
#schedule-patterns-existing-weekly-patterns td{
	padding:5px;
	cursor:pointer;
}
#schedule-patterns-existing-weekly-patterns .hover td{
	background-color:#D0E7BE;
}
#schedule-patterns-existing-weekly-patterns .selected td{
	background-color:#C7DDE7;	
}

#schedule-patterns-existing-weekly-patterns-container{
	overflow:auto;
}


#weekly-patterns-container .ui-accordion .ui-accordion-content {
padding: 1em 1.7em;
}

.weekly-patterns-accordion-pane{
	padding-bottom:20px;
}
#weekly-patterns-accordion{
}




/**
 * set-date
 */
#schedule_manager-set-dates-table{
	width:100%;
}
#schedule_manager-set-dates-table th{
	text-align:center;
	padding:5px 0px;
}
#schedule_manager-set-dates-table td{
	text-align:center;
	padding-top:5px;
	border:0;
}
#schedule_manager-set-dates-table th h6{
	font-weight:normal;
	font-size:10px;
}

#schedule_manager-set-dates-table .month-date-clear-container{
	font-size:10px;
}
#schedule_manager-set-dates-table .month-date-label{
	width:2em;
	height:1.5em;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:right;
}

.hidden{
	display:none;
}






/**
 * detail view
 */

.event-instance-detail-top h3{
color:#ffffff;
padding:0px;
padding-left:5px;
font-size:13px;
line-height:15px;
font-weight:normal;
}
.event-instance-detail-top a{
	color:#ffffff;
	float:right;
	padding:0px 10px;
}

#main-wrap .event-instance-detail-top a.detail-dateset-delete,
#main-wrap .event-instance-detail-top a.detail-dateset-edit{
	color:#ffffff;
}

#main-wrap .event-instance-detail-top a.detail-dateset-delete:hover,
#main-wrap .event-instance-detail-top a.detail-dateset-edit:hover{
	color:#4854A0
}

.event-instance-detail-top{
margin:0;
padding-top:7px;
padding-bottom:7px;
border-width:1px;
border-style:solid;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

}
.event-instance-detail-body-container{
border:1px solid #cccccc;

border-top:0px;

-moz-border-radius-bottomleft:4px;
-webkit-border-bottom-left-radius:4px;
border-bottom-left-radius:4px;

-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;

margin-bottom:15px;

}
.event-instance-detail-body{
	padding:10px;
}

.eidb-event-details-detail{
	float:left;
	padding:0px 10px;
	width:275px;
}
.eidb-time-table{
	width:100%;
}
.eidb-time-table td{
	padding:5px;
}

.eidb-location_and_instructor-wrapper{
	padding:10px 0px;
}




#events-list-description{
	font-size:.8em;
}
#events-list-description p{
	padding-bottom:10px;
}

#events-list-add-new a{
	font-size:.9em;
	line-height:2em;
}

#static-dates-calendar{
width:520px;
}


#static-dates-calendar .view-calendar-args .view-filters{
display:none;
}


/** override calendar css, see http://drupal.org/node/1354532 **/
html .calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents, 
html .calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents {
position: static;
width: auto;
}
html .calendar-calendar .month-view .full td.multi-day div.monthview, 
html .calendar-calendar .week-view .full td.multi-day div.weekview, 
html .calendar-calendar .day-view .full td.multi-day div.dayview {
height: auto;
}
html .calendar-calendar .month-view .full tr.date-box, 
html .calendar-calendar .month-view .full tr.date-box td, 
html .calendar-calendar .month-view .full tr.multi-day, 
html .calendar-calendar .month-view .full tr.multi-day td {
height: auto;
max-height: auto;
}