/** 
 * On the calendar display
 */
.event-placed{
position:relative;
height:22px;
padding-top:0px;
}

#datesets-dropzone-container{
	width:560px;
	float:right;
}
#datesets-dropzone-container .event-placed h2{
padding-top:1px;
height:15px;
}
#datesets-dropzone-container .event-placed h2 a{
color:#ffffff;
font-weight:normal;
font-size:11px;
}
#datesets-dropzone-container .event-placed h2 a:hover{
text-decoration:underline;
}

#datesets-dropzone-container .event-instance-right-icon{
float:none;
position:absolute;
right:8px;
top:3px;
padding:0px;
}
#datesets-dropzone-container .event-instance-left-icon{
float:none;
position:absolute;
left:8px;
top:3px;
padding:0px;
}

#datesets-dropzone-container span.ui-state-hover{
border-width:0px;
}
#events-schedule-dragndrop-container .event-instance-wrench-icon{
float:left;
padding-left:5px;
padding-right:0px;
}



/** 
 * Dropzones
 */
.date-dropzone-list{
	height:50px;
	overflow:hidden;
}
/*
.date-dropzone-target{
	display:none;
}
*/

#weekly-patterns-table{
	width:100%;
}
#weekly-patterns-table tbody{
border:0;
}
#weekly-patterns-table td{
	vertical-align:top;
}

#weekly-patterns-table h6{
	padding-bottom:7px;
}
 
#datesets-d-title{
width:505px;
float:right;
}
 
.date-dropzone{
width:79px;
height:10px;
margin:0 auto;
}

#datesets-dropzone-container .drop_hover{
background-color:#C3DD81;
border-color:#8FC24F;
}


.date-dropzone-container{
position:relative;
text-align:center;
width:68px;
padding-bottom:34px;
background-color:#ffffff;
border:1px solid #CCCCCC;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.dateset-more-notice{
	font-size:10px;
	text-align:right;
	width:57px;
	height:24px;
	line-height:10px;
	position:absolute;
	bottom:14px;
	right:4px;
}
.dateset-day_link-container{
	position:absolute;
	font-size:10px;
	padding-top:2px;
	line-height:12px;
	width:57px;
	height:13px;
	border-top:1px solid #cccccc;
	text-align:right;
	bottom:2px;
	left:5px;	
}
.dateset-more-notice p{
	padding:0px;
	margin:0px;	
}

/*
.dateset-more-count-container a{
height:16px;
line-height:16px;
padding-right:16px;
position:relative;
}
.dateset-more-show-link .ui-icon{
text-decoration:none;
display:block;
position:absolute;
width:16px;
height:16px;
right:0px;
top:-2px;
}
*/

/**
 * dateset_dialog
 */
#dateset_dialog{
	text-align:left;
}
#dateset_dialog p{
	padding-bottom:5px;
}